.footerDiv {
    height: 55px;
    width: 100%;
    /* border: 1px solid; */
    background-color: #f5f5f5;
    display: flex;
    color: gray;
    gap: 15px;
}
.icons {

    width: 20px;
    height: 30px;
    margin-top: 15px;
    color: rgb(206, 199, 199);

}

.icons:hover {
    color: #567dec
}
.footer-text {
    
    margin-left: 800px;
}

.footer-text:hover {
    color: #567dec
}
